run = "npm run dev"
entrypoint = "src/routes/+page.svelte"
onBoot = "./scripts/onBoot.sh"

hidden = [
  ".config",
  "tsconfig.json",
  "tsconfig.node.json",
  "vite.config.js",
  ".gitignore",
  ".svelte-kit",
  "build",
  ".npmrc",
  "package-lock.json",
  ".prettier*"
]

[nix]
channel = "stable-22_11"

[env]
PATH = "$REPL_HOME/.config/npm/node_global/bin:$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/bin"
XDG_CONFIG_HOME = "$REPL_HOME/.config"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = false
  enabledForHosting = false

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[languages.svelte]
pattern = "**/{*.svelte}"

[languages.svelte.languageServer]
start = "svelteserver --stdio"

[extension]
isExtension = true
buildCommand = "./scripts/build.sh"
outputDirectory = "build"
extensionID = "0608542a-03fc-49ba-83d3-736bd0aa2791"
